*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #000;
}

.nav{
    width: 100%;
    height: 100px;
    background: transparent;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav_logo{
    width: 80px;
    filter: invert(100%);
}

.nav_title{
    color: #fff;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main{
    height: calc(100vh + 200px);
}

.main_back{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.footer ul{
    color: #fff;
    list-style: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

